.contbadge{
	border:1px solid black;
	min-height: 6cm;
	width: 11cm;
}

.rigoneOSPITE{
	background-color:#5cb85c !important;
	color:#000000;
	font-size:160%;
	-webkit-print-color-adjust: exact !important;
}

.rigoneSTAFF{
	background-color:#d2322d !important;
	color:#000000;
	font-size:160%;
	-webkit-print-color-adjust: exact !important;
}

.rigaheadbadge{
	margin-left:-30px;
}

.riganome{
	font-weight: bold;
	font-size: 190%;
}
#logocribadge{
	height: 50px;
}

.contbarcode{
	width:100%;
	margin:0 auto;
	text-align:center;
}

.barcode{
	margin: 5px;
	font-size:30px;
	-webkit-transform:scale(1,2);
	-moz-transform:scale(1,2);
	-ms-transform:scale(1,2);
	-o-transform:scale(1,2);
	transform:scale(1,2);
}

.barcodehelper{
	font-size:25px;
	margin-top:-5px;
}

@media print{
	.rigoneOSPITE{
		background-color:#5cb85c !important;
		color:#000000;
		font-size:160%;
		-webkit-print-color-adjust: exact !important;
	}
	.rigoneSTAFF{
		background-color:#d2322d !important;
		color:#000000;
		font-size:160%;
		-webkit-print-color-adjust: exact !important;
	}

  .page-header{
    visibility:hidden;
  }
  body{
    height: 90vh;
    width: 90vw;
  }
  container:{
    height: 500px;
    width: 90%;
  }
}
