<template name="badge">
  <div class="panel panel-body contbadge">
    <div class="row">
      <div class="col-xs-3">
        <img id="logocribadge" alt="CRI" src="/badge/logocri.png"/>
      </div>
      <div class="col-xs-9 text-center rigaheadbadge">
        <h5>CENTRO ACCOGLIENZA TEMPORANEO VENTIMIGLIA</h5>
      </div>
    </div>
    {{#with ospite}}
    <div class="row">
      <div class="col-sm-3">
          <br>
          {{#if foto}}
            <img class="img-responsive" src="data:image/jpeg;base64,{{foto}}">
          {{/if}}
      </div>
      <div class="col-sm-9">
        <div class="container-fluid text-center">
          <div class="riganome">{{nome}} {{cognome}}</div>
          {{#if tessera}}
            <div class="rigasist">Tessera: {{tessera}}</div>
          {{/if}}
          {{#if codfisc}}
            <div class="rigasist">Codice fiscale: {{codfisc}}</div>
          {{/if}}
          {{#if sistemazione}}
            <div class="rigasist">Camera:&nbsp;{{sistemazione.camera}}&nbsp;Letto:&nbsp;{{sistemazione.letto}}</div>
          {{/if}}
          <div class="rigone rigone{{stato}}">{{stato}}</div>
          {{#if codice}}
          <div class="contbarcode">
            <div class="barcode">*{{codice}}*</div>
            <div class="barcodehelper">{{codice}}</div>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
    {{/with}}
  </div>
  <div class="hidden-print">
    <button class="btn btn-lg btn-success hidden-print" id="stampami">STAMPA</button>
  </div>
</template>
