<template name="AdminIscritti">
  {{#if isInRole 'registrazione'}}
    <div class="well">
      <h1>Lista Ospiti iscritti al campo</h1>
      {{> tabular table=TabularTables.ElencoIscritti class="table table-bordered table-hover table-striped table-condensed"}}
      <br><a href="/exportIscritti/" class="btn btn-lg btn-primary export" id="exportCSVIscritti" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Iscritti</a>
      <a href="/exportPartiti/" class="btn btn-lg btn-primary export" id="exportCSVPartiti" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Partiti</a>
    </div>
    <div class="well">
      <h1>Lista Ospiti MINORENNI iscritti al campo</h1>
      {{> tabular table=TabularTables.ElencoIscrittiMinori class="table table-bordered table-hover table-striped table-condensed"}}
      <br><a href="/exportIscrittiMinori/" class="btn btn-lg btn-primary export" id="exportCSVIscrittiMin" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Lista Minori Iscritti</a>
      <br><a href="/exportPartitiMinori/" class="btn btn-lg btn-primary export" id="exportCSVPArtitiMin" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Lista Minori Partiti</a>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
