<template name="Partenze">
  {{#if isInRole 'porta'}}
    <div class="row">
      <div class="col-sm-5">
        <div class="container-fluid">
          <div class="well">
            <h1>Gestione partenze</h1>
              <form id="FormPartenzaInsert">
                <input class="form-control" type="text" id="insPartenza" autocomplete="off" name="blipPartenza" placeholder="Codice...">
                <textarea class="form-control" name="motivoPartenza" rows="7" id="motivoPartenza" placeholder="Motivo partenza"></textarea>
                <input type="submit" class="btn btn-primary" name="submit" id="partSubmit" value="Partenza">
              </form>
              <br>
            {{> flashMessages}}
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <div class="container-fluid">
            <h1>Devono partire OGGI</h1>
            {{> tabular table=TabularTables.ElencoPartenze selector=oggi class="table table-bordered table-condensed"}}
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <div class="container-fluid">
            <h1>Devono partire DOMANI</h1>
            {{> tabular table=TabularTables.ElencoPartenze selector=domani class="table table-bordered table-condensed"}}
          </div>
        </div>
      </div>
    </div> -->
    <div class="row">
      <div class="col-xs-12">
        <div class="well">
          <div class="container-fluid">
            <h1>Partiti</h1>
            {{> tabular table=TabularTables.ElencoPartiti class="table table-bordered table-condensed"}}
          </div>
        </div>
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
