<template name="AdminRegistrati">
  {{#if isInRole 'registrazione,porta'}}
    <!-- {{#if isReady "__SUBS__" }} -->
      <div class="well">
        <h1>Lista Ospiti bloccati in registrazione</h1>
        {{> tabular table=TabularTables.ElencoRegistrati class="table table-striped table-bordered table-condensed"}}
      </div>
    <!-- {{else}}
      {{> loading}}
    {{/if}} -->
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
