<template name="Postiletto">
  {{#if isInRole 'letti'}}
    <div class="row">
      <div class="col-sm-6">
        <div class="alert alert-info" role="alert"><strong>Attenzione:</strong> Se non ti prende la modifica che stai cercando di fare è perchè probabilmente quella combinazione camera+letto è già occupata!</div>
        <!-- <div class="alert alert-info" role="alert"><strong>Attenzione:</strong> Controlla di non assegnare due persone allo stesso posto letto!!</div> -->
        {{> flashMessages}}
        <h2>Ospiti da assegnare</h2>
        {{> tabular table=TabularTables.PostiLettoVacanti class="table table-bordered table-hover"}}
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h2>Ospiti assegnati</h2>
          {{> tabular table=TabularTables.PostiLettoAssegnati class="table table-bordered table-hover"}}
        </div>
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>

<template name="cellaLetto">
{{> editableText collection="persons" field="letti.letto" beforeUpdate="LettiCheckIfBusy" afterUpdate="LettiLogUpdate" autoInsert=false substitute='<span class="glyphicon glyphicon-edit"></i>'}}
</template>
<template name="cellaCamera">
  {{> editableText collection="persons" field="letti.camera" beforeUpdate="LettiCheckIfBusy" afterUpdate="LettiLogUpdate" autoInsert=false substitute='<span class="glyphicon glyphicon-edit"></i>'}}
</template>
