<template name="MainContent">
  <div class="centrale">
    <div class="row">
      <div class="col-sm-6">
        <div class="sezionepulsanti text-center well">
          <button href="#" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#ModalIstruzioni">LEGGIMI</button>
          <br><br>
          {{#if isInRole 'registrazione'}}
          <a type="button" href="/registrazione" class="btn btn-primary btn-lg">Iscrizione partecipante</a>
          <br>
          {{/if}}
          {{#if isInRole 'letti'}}
          <a type="button" href="/Postiletto" class="btn btn-primary btn-lg">Gestione posti letto</a>
          <br>
          {{/if}}
          {{#if isInRole 'mensa'}}
          <a type="button" href="/mensa" class="btn btn-primary btn-lg">Gestione pasti</a>
          <br>
          {{/if}}
          {{#if isInRole 'porta'}}
          <a type="button" href="/movimenti" class="btn btn-primary btn-lg">Entrate/Uscite dal campo</a>
          <br>
          {{/if}}
          <a type="button" href="/libro-eventi" class="btn btn-primary btn-lg">Libro eventi</a>
          <br>
          <a type="button" href="/admin-iscritti" class="btn btn-primary btn-lg">Iscritti al campo</a>
          <br>
          {{#if isInRole 'porta'}}
          <a type="button" href="/partenze" class="btn btn-primary btn-lg">Gestione partenze</a>
          <br>
          {{/if}}
          <br>
          <a type="button" href="/report" class="btn btn-primary btn-lg">Report</a>
          <br>
        </div>
      </div>
      <div class="col-sm-6">
        {{> news}}
      </div>
    </div>
  </div>
  <div class="modal fade" id="ModalIstruzioni" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">LEGGIMI</h4>
      </div>
      <div class="modal-body">
        <p>
          Questo programma è stato progettato e realizzato sulla base delle esigenze di un altro cdat, diverso da questo.<br>
          Per questo motivo potreste volere che alcune pagine funzionino in maniera diversa.<br>
          Questo è possibile, basta scrivere:
          <ul>
            <li>la modifica desiderata <u>dettagliatamente</u></li>
            <li>il proprio nome utente</li>
            <li>un recapito telefonico</li>
          </ul>
          ed inviarle a: alessio.riitano@liguria.cri.it e farò il possibile per realizzarle.<br>
          <br>
          Inoltre dato il brevissimo preavviso per l'attivazione non è stato possibile testare a fondo tutte le funzioni del programma ed alcune altre verranno attivate durante la prima settimana del campo.<br>
          Se riscontrate qualsiasi anomalia potete segnalarmela all'indirizzo email indicato sopra. Anche questa corredata da una buona descrizione (possibilmente con foto se rilevanti), ed i vostri contatti.<br>
          <br>
          Un manuale ufficiale non è stato previsto, pertanto per qualsiasi dubbio fare riferimento all'indirizzo mail sopra riportato<br>
          Il programma si aggiorna e fa il backup ogni notte, pertanto lasciate il PC acceso!<br>
          <br>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Ok, ho capito!</button>
      </div>
    </div>
  </div>
</div>
</template>






<template name="news">
  <div class="sezionenews">
    <div class="allnews">
      {{#each News}} {{> unanews}} {{/each}}
    </div>
    <div class="text-center">
      <a type="button" href="/admin-news" class="btn btn-primary btn-lg"> Vai alle News</a>
    </div>
  </div>
</template>

<template name="unanews">
  <div class="unanews panel panel-default">
    <div class="panel-heading">
      <div class="titlenews panel-title">{{titolo}}&nbsp;
        <small class="text-muted">di {{autore}} - {{formattedDate}}</small>
        {{#if isInRole 'newsint,newsext'}}
          <span class="pull-right">
            {{#afModal class="btn btn-xs btn-primary" collection="News" operation="update" doc=_id omitFields="datains,autore,authId" operation="update" buttonContent="Aggiorna" title="Aggiorna News" buttonClasses="btn btn-primary"}}<span title="Modifica news" class="glyphicon glyphicon-edit"></span>{{/afModal}}&nbsp;
            <button id="n{{_id}}" class="btn btn-xs btn-danger cancellabtn pull-right"><span class="glyphicon glyphicon-remove"></span></button>
          </span>
        {{/if}}
      </div>
    </div>
    <div class="corponews panel-body" id="news{{id}}">
      {{{testo}}}
    </div>
  </div>
  {{> autoformModals}}
</template>

<template name="loading">
  <div class="container-fluid text-center spazioso">
    <div class="heading">CARICAMENTO IN CORSO...</div>
    {{> spinner}}
  </div>
</template>

<template name="roleError">
  <div class="container-fluid text-center spazioso">
    <div class="heading">Attenzione: non hai il permesso di accedere a questa pagina. Chiedi al tuo responsabile di abilitarti.</div>
  </div>
</template>

<template name="notFound">
  <div class="container-fluid text-center spazioso">
    <div class="heading">Spiacenti, quello che hai cercato non esiste. Usa il menu per andare alla pagina corretta</div>
  </div>
</template>
