<template name="registrazione">
  {{#if isInRole 'registrazione,porta'}}
    {{> flashMessages}}
    <div class="well">
      <h1>Registrazione nuovo ospite</h1>
        {{> quickForm collection="Persons" buttonContent="Registra" omitFields="dataIngrCamp,letti,history" id="insertPersonForm" type="insert" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>

<template name="wcamera">
  <div class="webcam"></div>
  {{#if image}}
    <img src="{{image}}" data-schema-key="foto"><br>
    <button class="btn btn-primary resnap">Cambia immagine</button>
  {{else}}
    <button class="btn btn-primary snap">Scatta NUOVA foto</button>
  {{/if}}
</template>
