<template name="profilopers">
  {{#if isInRole 'registrazione'}}
    {{> flashMessages}}
    <div class="well">
      <div class="row">
        <div class="col-sm-3">
          <img class="img-responsive" src="data:image/jpeg;base64,{{selecPerson.foto}}">
        </div>
        <div class="col-sm-9">
          Profilo di: {{selecPerson.Nome}} {{selecPerson.Cognome}}<br>
          Codice:{{codice}}<br>
          Status: {{selecPerson.status}}<br>
          Data di ingresso al campo: {{formatteddate date=selecPerson.dataIngrCamp}}<br>
          {{#if selecPerson.dataPartenzaCamp}}
            Data di uscita dal campo: {{formatteddate date=selecPerson.dataPartenzaCamp}}<br>
            Motivo partenza: {{selecPerson.motivoPartenzaCamp}}
          {{/if}}
        </div>
      </div>
    </div>
    <div class="well">
      <div class="container-fluid">
        <h1>Modifica Dati Ospite</h1>
          {{#if isInRole 'modpers'}}
            {{> quickForm collection="Persons" buttonContent="Modifica" doc=selecPerson id="updatePersonForm" type="update" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
          {{else}}
            {{> quickForm collection="Persons" buttonContent="Modifica" doc=selecPerson id="updatePersonForm" type="disabled" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
          {{/if}}
          {{#if isInRole 'delpers'}}
            <br><br><button id="deletePerson" class="btn btn-danger pull-right">Cancella scheda</button>
          {{/if}}
      </div>
    </div>
    <div class="well">
      <div class="container-fluid">
        <h1>Storico Ospite</h1>
        {{> tabular table=TabularTables.LogProfiloPers class="table table-bordered table-hover" selector=LogFiltrato}}
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
