<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="Gestione Accoglienza Migranti">
  <meta name="author" content="Aleritty.net">
  <meta name="msapplication-TileColor" content="#603cba">
  <meta name="theme-color" content="#ed1300">

</head>

<template name="MainTemplate">
  <div id="wrap">
    <div class="container">
      <div class="page-header text-center hidden-print"><a href="/"><h1>Gestione Accoglienza ed Inserimento Ospiti</h1></a></div>
      {{> ensureSignedIn template="aMainTemplate"}}
      <div id="push">&nbsp;</div>
      <div id="footer" class="hidden-print">
        <div class="container">
          <p class="text-muted">
            PER SUPPORTO / SEGNALAZIONE ERRORI / RICHIESTE: inviare mail a: alessio.riitano@liguria.cri.it<br><br>
            Questo programma è stato scritto da: <a href="http://www.aleritty.net">Aleritty</a>. Ed è concesso in utilizzo gratuito illimitato alla Croce Rossa Italiana - Comitato Locale di Ventimiglia e comitati che ne faranno richiesta<br>
            Questo programma è open-source, per avere maggiori informazioni contattare l'autore.<br>
            <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a>&nbsp;<span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Event-manager</span> di<a xmlns:cc="http://creativecommons.org/ns#" href="http://www.aleritty.net" property="cc:attributionName" rel="cc:attributionURL"> Aleritty</a> è distribuito con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribuzione - Non commerciale - Condividi allo stesso modo 4.0 Internazionale</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="aMainTemplate">
    <div class="barretta hidden-print">
      <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Barra di navigazione</span>
            <span class="icon-bar">&nbsp;</span>
            <span class="icon-bar">&nbsp;</span>
            <span class="icon-bar">&nbsp;</span>
          </button>
          <span class="navbar-brand">Ciao {{Nome}}</span>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <a href="/">Home</a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Funzioni<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{#if isInRole 'registrazione'}}
                <li>
                  <a href="/registrazione">Iscrizione partecipante</a>
                </li>
                {{/if}}
                {{#if isInRole 'letti'}}
                  <li>
                    <a href="/Postiletto">Gestione posti letto</a>
                  </li>
                {{/if}}
                {{#if isInRole 'mensa'}}
                  <li>
                    <a href="/mensa">Gestione pasti</a>
                  </li>
                {{/if}}
                {{#if isInRole 'porta'}}
                  <li>
                    <a href="/movimenti">Entrate/Uscite dal campo</a>
                  </li>
                  <li>
                    <a href="/partenze">Gestione partenze</a>
                  </li>
                {{/if}}
                <li>
                  <a href="/report">Report</a>
                </li>
              </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Amministrazione<b class="caret"></b></a>
              <ul class="dropdown-menu">
                {{#if isInRole 'regstaff'}}
                <li>
                  <a href="/admin-staff">Gestione Staff</a>
                </li>
                {{/if}}
                <li>
                  <a href="/libro-eventi">Libro Eventi</a>
                </li>
                <li>
                  <a href="/admin-iscritti">Iscritti al campo</a>
                </li>
                <li>
                  <a href="/report">Report</a>
                </li>
                {{#if isInRole 'regstaff'}}
                <li>
                  <a href="/cambiacodice">Forza Codici</a>
                </li>
                {{/if}}
                {{#if isInRole 'regstaff'}}
                <li>
                  <a href="/admin-db">Backup Dati</a>
                </li>
                {{/if}}
                {{#if isInRole 'porta'}}
                <li>
                  <a href="/accettazione">Ospiti bloccati</a>
                </li>
                {{/if}}

              </ul>
            </li>
            <li>
              <a href="/admin-news">News</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              {{>atNavButton}}
            </li>
          </ul>
        </div>
      </nav>
    </div>
    {{> yield}}
    <!-- {{>Template.dynamic template=yield}} -->
</template>
