<template name="AdminNews">
  <div class="row">
    <div class="col-sm-6">
      {{#if isInRole 'newsint'}}
        {{> flashMessages}}
        {{> quickForm collection="News" buttonContent="inserisci" id="insertNewsForm" type="insert" }}
      {{else}}
        {{> roleError}}
      {{/if}}
    </div>
    <div class="col-sm-6">
      {{> news}}
    </div>
  </div>
</template>
