<template name="AdminStaff">
  {{#if isInRole 'regstaff'}}
    <div class="row">
      <div class="col-sm-6">
        {{> flashMessages}}
        {{#if persona}}
        <div class="nuovostaffbtn">
          <a href="/admin-staff" class="btn btn-ls btn-success">TORNA A CREAZIONE NUOVO STAFF</a>
        </div>
        <h2>Modifica membro dello staff<br>{{persona.Nome}} {{persona.Cognome}}</h2>
        {{#autoForm id="updateStaffForm" schema="SchStaff" doc=persona type="normal" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9"}}
          {{> afQuickField name="Nome"}}
          {{> afQuickField name="Cognome"}}
          {{> afQuickField name="Telefono"}}
          {{> afQuickField name="Email"}}
          {{#if foto}}
            <span>Foto attuale</span>
            <img class="img-responsive" src="data:image/jpeg;base64,{{foto}}">
          {{/if}}
          {{> afQuickField name="foto"}}
          {{> afQuickField name="associazione"}}
          {{> afQuickField name="permessi"}}
          <div>
            <p>Solo per impostare una nuova password</p>
            {{> afQuickField name="Password"}}
            {{> afQuickField name="ConfPassword"}}
          </div>
          <div>
            <button class="btn btn-lg btn-success" type="submit">Salva</button>
            <button class="btn btn-sm btn-danger btnDel pull-right">Elimina</button>
          </div>
        {{/autoForm}}
        <br><br>
        <div class="well">
          <div class="container-fluid">
            <h1>Storico Azioni eseguite</h1>
              {{> tabular table=TabularTables.LogFiltratoStaff class="table table-bordered table-hover" selector=LogFiltrato}}

          </div>
        </div>
        {{else}}
        <h2>Registra un nuovo membro dello staff</h2>
        {{> quickForm id="insertStaffForm" schema="SchStaff" buttonContent="Registra" type="normal" template="bootstrap3-horizontal" label-class="col-sm-3" input-col-class="col-sm-9" }}
        {{/if}}
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h2>Elenco staff attuale</h2>
          {{> tabular table=TabularTables.ElencoStaff class="table table-bordered table-hover"}}
          <br>
          <a href="/exportStaff/" class="btn btn-lg btn-primary export" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Sampa Elenco Staff</a>
        </div>
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
