<template name="report">
  <div class="well">
    <h1>REPORT</h1>
    <div class="list-group">
      <a href="/report/presenti" class="list-group-item">Report Ospiti presenti</a>
      <a href="/report/pasti" class="list-group-item">Report pasti serviti</a>
    </div>
  </div>
</template>

<template name="reportpresenti">
  {{#if isInRole 'toteventi'}}
    <div class="well">
      <h1>Lista PRESENTI ALL'INTERNO del campo alle {{adesso}}</h1>
      {{> tabular table=TabularTables.ElencoPresenti class="table table-striped table-bordered table-condensed"}}
      <h1>Lista Ospiti FUORI dal campo alle {{adesso}}</h1>
      {{> tabular table=TabularTables.ElencoAssenti class="table table-striped table-bordered table-condensed"}}
      <a href="/exportPresenti/" class="btn btn-lg btn-primary export" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Presenti</a>
      <a href="/exportIscritti/" class="btn btn-lg btn-primary export" id="exportCSVIscritti" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Iscritti</a>
      <a href="/exportPartiti/" class="btn btn-lg btn-primary export" id="exportCSVPartiti" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Partiti</a>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>

<template name="reportpasti">
  {{#if isInRole 'toteventi'}}
    <div class="well">
      <h1>Lista Pasti serviti nel campo</h1>
      <div class="input-daterange input-group" id="datepicker">
        <span class="input-group-addon">Da </span>
        <input type="text" class="inputdate input-sm form-control" value="{{oggi}}" name="start" id="pickAfter" />
        <span class="input-group-addon"> a </span>
        <input type="text" class="inputdate input-sm form-control" value="{{oggi}}" name="end" id="pickBefore" />
      </div>
      <table id="reportpasti" class="table table-striped table-bordered table-condensed dataTable">
        <thead><tr><th>Data</th><th>Colazioni</th><th>Pranzi</th><th>Cene</th></tr></thead><tbody>
          {{#each Pastiserv}}
            <tr><td>{{Giorno}}</td><td>{{Colazioni}}</td><td>{{Pranzi}}</td><td>{{Cene}}</td></tr>
          {{/each}}
        </tbody>
      </table>
      <br><br>
      <a href="/exportPasti/" class="btn btn-lg btn-primary export" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta Pasti</a>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
