<template name="Mensa">
  {{#if isInRole 'mensa'}}
    <div class="row">
      <div class="col-sm-12 well">
        <h1>Stiamo servendo {{Tipopasto}}</h1>
      </div>
      <div class="col-sm-4">
        {{> colonnaBlip}}
      </div>
      <!-- <div class="col-sm-4">
        {{> colonnaDigiuni}}
      </div> -->
      <div class="col-sm-6">
        {{> colonnaSazi}}
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>

<template name="colonnaBlip">
  <div class="well">
    {{#with Tipopasto}}
    <h1>BLIP o codice</h1>
      <form id="FormMensaInsert">
        <input class="form-control" autocomplete="off" type="text" id="blipcodice" name="blipcodice" placeholder="Codice...">
      </form>
      <br>
    {{/with}}
    <!-- <div class="visible-xs-block visible-sm-block">
      <button class="btn btn-default" id="scanbtn">Scansiona</button>
    </div> -->
    {{> flashMessages}}
  </div>
</template>

<!-- <template name="colonnaDigiuni">
  <div class="well">
    {{#with digiuni}}
      <h1>Devono ancora Mangiare {{countdigiuni}}</h1>
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead><tr><th>Nome</th><th>Codice</th></tr></thead>
        <tbody>
        {{#each digiuni}}
          <tr><td>{{Cognome}} {{Nome}}</td><td>{{codice}}</td></tr>
        {{/each}}
        </tbody>
      </table>
      {{> tabular table=TabularTables.ElencoPranzo selector=digiuni class="table table-bordered table-hover"}}
    {{/with}}
  </div>
</template> -->

<template name="colonnaSazi">
  <div class="well">
      <!-- <h1>Pasti serviti: <span id="countsazi">0</span></h1> -->
      <h1>Pasti serviti: {{ countsazi }}</h1>
      <!-- <table class="table table-striped table-bordered table-hover table-condensed">
        <thead><tr><th>Codice</th></tr></thead>
        <tbody>
        {{#each sazi}}
          <tr><td>{{dest}}</td></tr>
        {{/each}}
        </tbody>
      </table> -->
      <!-- {{> tabular table=TabularTables.ElencoSazi selector=sazi class="table table-bordered table-hover"}} -->
  </div>
</template>
