<template name="cambiacodice">
  {{#if isInRole 'regstaff'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12">
          <form id="cambiacodice" class="form-horizontal">
            <div class="form-group">
              <label for="oldcode">Codice attuale dell'ospite:</label>
              <input type="text" name="oldcode" autocomplete="off" class="form-control" id="oldcode" placeholder="[1234567890]">
            </div>
            <div class="form-group">
              <label for="newcode">Codice sul vecchio tesserino o nuovo codice da assegnare:</label>
              <input type="text" name="newcode" autocomplete="off" class="form-control" id="newcode" placeholder="[1234567890]">
            </div>
            <button type="submit" class="btn btn-danger">Cambia codice</button>
          </form>
          {{> flashMessages}}
        </div>
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
