<template name="LibroEventi">
  <div class="well">
    <h1>Libro eventi</h1>
    <div class="input-daterange input-group" id="datepicker">
      <span class="input-group-addon">Da </span>
      <input type="text" class="inputdate input-sm form-control" value="{{oggi}}" name="start" id="pickAfter" />
      <span class="input-group-addon"> a </span>
      <input type="text" class="inputdate input-sm form-control" value="{{oggi}}" name="end" id="pickBefore" />
    </div>
    {{> tabular table=TabularTables.LibroEventi selector=helptab class="table table-striped table-bordered table-condensed"}}
  </div>
</template>
