<template name="Movimenti">
  {{#if isInRole 'porta'}}
    <div class="row">
      <div class="col-sm-6">
        <h2>Blip o codice</h2>
        <div class="alert alert-info" role="alert"><strong>Attenzione:</strong> DOPO aver blippato il codice puoi usare <b>ALT+U</b> per marcare l'uscita ed <b>ALT+R</b> per marcare il rientro.</div>
        <form id="FormMensaInsert">
          <input class="form-control" autocomplete="off" autofocus="autofocus" type="text" id="blipcodice" name="blipcodice" placeholder="Codice..."><br>
          <button class="btn btn-lg btn-warning pull-right" accesskey="r" id="insertRientro">Rientro</button>
          <button class="btn btn-lg btn-danger pull-left" accesskey="u" id="insertUscita">Uscita</button>
        </form>
        <div class="clearfix"></div>
      </div>
      <div class="col-sm-6">
        <div class="well">
          <h2>Persone FUORI dal campo adesso: {{numpersone}}</h2>
          {{> tabular table=TabularTables.ElencoFuoricampo class="table table-bordered table-condensed"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="well">
        <h1>Movimenti totali</h1>
        {{> tabular table=TabularTables.MovimentiTotali class="table table-bordered table-condensed"}}
        <br><a href="/exportMovimenti/" class="btn btn-lg btn-primary" id="exportCSV" data-loading-text="Esportando..."><span class="glyphicon glyphicon-floppy-save"></span>&nbsp;Esporta</a>
      </div>
    </div>
  {{else}}
    {{> roleError}}
  {{/if}}
</template>
